<ion-view view-title="Idea-Tinder" hide-nav-bar="true" hide-back-button="true" >
    <ion-content  on-swipe-left="onSwipeLeft()"  on-swipe-right="onSwipeRight()" >

        <div class="list card no-padding row-no-padding" style="margin:0;">

            <div class="item">
                <h1 style="color:#44b8b7;background-color: white; border-radius: 5px; padding: 5px;">„{{oIdea.claim}}“</h1>
            </div>

            <div class="heart" ng-class="heartStyle">

                <a class="button button-icon icon ion-heart" ng-click="onIdeaHeart()"></a>
            </div>

            <div class="item item-body">
                <!--<img class="full-image" src="delorean.jpg">-->


                    <h2 class="title">Domain</h2>


                    <button  ng-repeat="oDom in oIdea.aDomains" class="button button-small button-stable domains " style="">
                        {{oDom.txt}}
                    </button>




                <h2 class="title skills" ng-show="oIdea.aSkills.length > 0">Skills</h2>


                <div  ng-repeat="oDom in oIdea.aSkills" class="button button-small button-stable skills" style="margin-bottom:2em;">
                        {{oDom.txt}}
                </div>

                <button class="button button-full button-balanced" ng-hide="!oIdea.bCanJoin" ng-click="onIdeaJoin()">
                    Join!
                </button>

                <button class="button button-full button-assertive" ng-hide="oIdea.bCanJoin" ng-click="onIdeaJoin()">
                    Leave
                </button>

                <h2 class="title" ng-show="oIdea.aMembers.length > 0">Members</h2>
                <div class="members" ng-repeat="oDom in oIdea.aMembers" >
                    <img ng-src="{{oDom.src}}" style="">
                    <p >{{oDom.firstname}} {{oDom.name}}</p>
                </div>

                <p style="display:none">
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>

            </div>

        </div>

    </ion-content>
</ion-view>
