<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Pulse" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="People" icon-off="ion-person" icon-on="ion-ios-person" href="#/tab/people">
    <ion-nav-view name="tab-people"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Ideas" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/ideas">
    <ion-nav-view name="tab-ideas" cache-view="false"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Detail" hidden="true" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/detail">
    <ion-nav-view name="tab-detail" cache-view="false"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <!--
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
-->

</ion-tabs>
